*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Navigation */

nav{
    background:#2E7D32;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 80px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:yellow;
}

/* Hero */

.hero{
    height:85vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&w=1500&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    width:700px;
    max-width:90%;
    margin:auto;
}

.hero button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    background:#2E7D32;
    color:white;
    font-size:18px;
    cursor:pointer;
    border-radius:5px;
}

.hero button:hover{
    background:#1B5E20;
}

/* Sections */

section{
    padding:60px 100px;
}

section h2{
    text-align:center;
    margin-bottom:30px;
    color:#2E7D32;
}

.about p{
    text-align:center;
    font-size:18px;
    line-height:30px;
}

/* Cards */

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
}

.card{
    width:280px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 5px 15px rgba(0,0,0,.2);
    text-align:center;
}

.card h3{
    margin-bottom:15px;
}

/* Features */

.feature-box{
    display:flex;
    justify-content:space-around;
    text-align:center;
}

.feature-box div{
    background:white;
    width:250px;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 5px 15px rgba(0,0,0,.2);
    font-size:25px;
}

/* Footer */

footer{
    background:#2E7D32;
    color:white;
    text-align:center;
    padding:20px;
}