*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

.forgot-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f6f9;
}

.forgot-card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    text-align:center;
}

.forgot-card h1{
    color:#d35400;
    margin-bottom:20px;
}

.forgot-card p{
    margin-bottom:25px;
    color:#555;
}

.forgot-card form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.forgot-card input{
    padding:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.forgot-card button{
    padding:15px;
    border:none;
    background:#d35400;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
}

.forgot-card button:hover{
    background:#a84300;
}

.forgot-card a{
    display:block;
    margin-top:20px;
    text-decoration:none;
    color:#2c3e50;
    font-weight:bold;
}