.sidebar{
    width:230px;
    height:100vh;
    background:#2c3e50;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
    color:#fff;
}

.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
}

.sidebar ul li{
    padding:15px 20px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    display:block;
    transition:0.3s;
}

.sidebar ul li:hover{
    background:#34495e;
}

.sidebar ul li a:hover{
    color:#27ae60;
}

.logout-btn{
    width:100%;
    background:transparent;
    border:none;
    color:white;
    font-size:18px;
    text-align:left;
    cursor:pointer;
    padding:0;
    font-family:inherit;
}

.logout-btn:hover{
    color:#27ae60;
}
.add-product-sidebar-btn {
width: 100%;
border: none;
background: #27ae60;
color: white;
padding: 11px 14px;
border-radius: 7px;
font-size: 14px;
font-weight: 600;
cursor: pointer;
text-align: left;
transition: 0.2s ease;
}

.add-product-sidebar-btn:hover {
background: #1e8449;
transform: translateX(2px);
}